<div class="panel panel-default">
  <div class="panel-heading"><%= News::Post.model_name.human(count: 2.1) %>
    <div class="btn-group pull-right">
      <%= link_to fa_icon('plus'), new_admin_post_path, class: 'btn btn-default btn-xs' %>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="panel-body">
    <div id="posts">
      <%= render 'posts' %>
    </div>
  </div>
</div>

